@import url(./base.css);

:root {
    color-scheme: light only;
}
html, body {background-color: #CFEDFF;width: 100%;}
@media (min-width: 1025px) {
    html, body {height:100%;overflow: hidden;} 
    .btn-arrow-down {display: none;}
}
body.modal-open {height: 100%;overflow: hidden;}
.wrap {width:100%;max-width: 1066px;height:100%;margin: 0 auto;display: flex;justify-content: space-between;}
.left-sect {display: flex;flex-direction: column;justify-content: center; padding-top: 60px;}
.left-sect .logo {text-align: center;}
.left-sect .logo .slogon {font-size:25px;color:#222;line-height: 25px;margin-bottom: 7px;}
.left-sect .logo .slogon strong {font-weight: 700;}
.left-sect .main-img {position: relative; margin-top: 22px;}
.left-sect .main-img .qr-box {position: absolute;right:37px;bottom:56px;width: 86px;padding:8px 0;gap: 8px; border: 1px solid #fff;border-radius: 16px;display: flex;align-items: center;justify-content: center;}
.left-sect .main-img .qr-box dl {display: flex;flex-direction: column; gap: 8px;}
.left-sect .main-img .maket-button {display: flex;justify-content: center;gap: 20px;margin-top: 20px;}
.left-sect .main-img .maket-button a {transition: all 0.3s;display: flex;height: 55px;align-items: center;justify-content: center;gap: 7px;border-radius: 32px;width: 199px;font-size: 19px;line-height: 19px;color:#222;font-weight: 500;background-color: rgba(255, 255, 255);animation: emphasis 1.5s ease Infinite Alternate;}
.left-sect .main-img .maket-button a:hover {background-color : rgb(255, 247, 220);animation:none; box-shadow: none;transition: all 0.3s;}
.left-sect .main-img .maket-button a.google::before {content: '';display: inline-block;width:37px;height:37px;background: url('../image/icon-google-mk.svg') no-repeat;background-size: 100% auto;background-position: center center;}
.left-sect .main-img .maket-button a.appstore::before {content: '';display: inline-block;width:25px;height:33px;background: url('../image/icon-app-str.svg') no-repeat;background-size: 100% auto;}

.left-sect .footer {margin-top:30px;position: relative;font-size: 12px;color:#555;line-height: 18px;display: flex;justify-content: space-between;}
.left-sect .footer span+span{margin-left: 5px;}
.left-sect .footer .button-area {display: flex;flex-direction: column;justify-content: space-between; height: 100%;gap: 5px;}
.left-sect .footer .button-area a {display: block;text-align: center;width: 106px;height: 21px;background-color: #fff;border-radius: 7px;font-size: 12px;color:#222;}
.left-sect .footer .copy {display: flex;flex-direction: column; justify-content: space-between; align-items: center;}
.pc-img {display: block;}
.mo-img {display: none;}
.tablet-img {display: none}

.right-frame {width: 100%;max-width: 500px;height: 100%;background-color: #fff;box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;position: relative;}
.right-frame .title-Wrap {width: 100%;height: 56px;background-color: #4783f5;position: relative;}
.right-frame .title-Wrap h2 {text-align: center;display: flex;align-items: center;justify-content: center;height: 100%;}
.right-frame .title-Wrap .btn-share {width:30px;height:30px;background: url(../image/btn_share.svg) no-repeat center center;position: absolute;right: 14px;top: 50%;transform: translateY(-50%);}
.right-frame .cate-title {padding: 21px 0;text-align: center;font-weight: 700;font-size:32px;color:#222;}
.tab-area {width: auto;overflow-x: scroll;margin: 0 28px;}
.tab-area ul {display: flex;gap: 6px;white-space: nowrap;}
.tab-area ul li.is-active button {background-color: #4783F5;color:#fff;border:1px solid #4783F5;}
.tab-area ul li button {display: block;white-space: nowrap;padding: 0 12px;height: 44px;text-align: center;border:1px solid #EBEFF4;border-radius: 12px;font-size: 18px;font-weight: 500;;}
.tab-area {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.tab-area::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.tab-cont {width: 100%;padding-top: 6px;overflow: hidden;height: calc(100% - 212px);}
.fillter-option {position: relative;width: 120px;margin-top: 24px;}
.fillter-option .selected-option {position: relative;height:40px;min-width: 83px;font-size: 20px;color:#222222;text-align: left;margin-left: 23px;}
.fillter-option .selected-option::after {content: '';display: block;position: absolute;right:0px;top: 50%;transform: translateY(-50%); width:9px;height:13px;background: url('../image/arrow_selectbox.svg') no-repeat;background-size: 100% auto;background-position: center center;}
.fillter-option .selected-option.is-active::after {transform: rotate(-180deg); margin-top: -5px;}
.fillter-option .option-list {display: none;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);position: absolute;left:28px;top:auto;background-color: #fff;padding: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;z-index: 13;}
.fillter-option .option-list li button {font-size: 20px;color:#222;display: block;padding: 8px 0;width: 100px;}
.fillter-option .option-list li:hover,
.fillter-option .option-list li.is-active button {background-color: #E8EFFF;border-radius: 7px;}
.fillter-option .option-list.is-active {display: block;}
.story-list-wrap {padding: 0 28px;overflow-y: auto;  height: calc(100% - 50px);overflow: auto;}
.story-list {display: flex;flex-direction: column;gap: 12px;}
.story-list li {padding: 0;margin: 0;}
.item-wrap {position: relative;display:block;width: 100%;color:#fff;border-radius: 20px;overflow: hidden;}
.item-wrap.no-img::before {display: none;}
.item-wrap .tit:hover {text-decoration: underline;}
.item-wrap::before {content: '';display: block;position: absolute;left:0;top:0;right:0;bottom:0px;background-color: rgba(0, 0, 0, 0.3);z-index: 10;}
.item-wrap img {width: 100%; position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);transition: all 0.3s;}
.item-wrap:hover img {transform: translate(-50%, -50%) scale(1.1);transition: all 0.3s;}
.item-wrap .util-area {position: absolute;right:24px;top:24px;z-index: 10;}
.item-wrap .util-area .like {display: inline-block;font-size:16px;font-weight: 300;background: url('../image/icon_like.svg') no-repeat left center;padding-left: 25px;}
.item-wrap .util-area .command {display: inline-block;font-size:16px;font-weight: 300;background: url('../image/icon_command_wt.svg') no-repeat left center;padding-left: 24px;margin-left:14px;}
.item-wrap .item-infor {position: absolute;right:24px;bottom:24px;z-index: 10;left: 24px;}
.item-wrap .item-infor .tit {display: block;font-size: 24px;font-weight: 500;line-height: 26px;text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.item-wrap .item-infor .label-area {margin-top: 16px;display: flex;gap:8px;}
.item-wrap .item-infor .label-area span {border:1px solid rgba(255,255,255,0.6);padding: 2px 8px;font-weight: 300;border-radius: 6px; color:#fff;font-size:16px;}

.no-data-img {height: 666px;display: flex;align-items: center;justify-content: center;background: url(../image/no-img.svg) no-repeat center center;}
.content_wrap {height: calc(100% - 137px);overflow-y: auto;}
.page-location-area {padding: 24px 28px;display: flex;align-items: center;gap:10px;}
.page-location-area .btn-back {width: 25px;height: 25px;background: url('../image/btn_close_x.svg') no-repeat center;background-size: 100% auto;margin-top:-2px;}
.page-location-area p {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;font-size:24px;color:#222;}
.article-title-area {display: flex;flex-direction: column;padding: 10px 28px 16px;gap:12px;}
.article-title-area .label-top {display: flex;gap: 6px;}
.article-title-area .label-top span {min-width: 44px;height: 28px; background-color: #7DAAFF;font-size: 16px;font-weight: 500;border-radius: 8px;text-align: center;color:#fff;line-height: 28px;}
.article-title-area h2 {font-size: 32px;font-weight: 700;line-height: 37px;}
.article-info {padding: 0 28px;display: flex;align-items: center; justify-content: space-between;color:#737980;}
.article-info .like {display: inline-block;font-size:16px;font-weight: 300;background: url('../image/icon_like.svg') no-repeat left center;padding-left: 22px;}
.article-info .command {display: inline-block;width: 16px;font-size:16px;font-weight: 300;background: url('../image/icon_command.svg') no-repeat left center;padding-left: 22px;margin-left:14px;}
.article-info .data {font-size:16px;color:#737980;}
.article-cont {padding: 32px 0px;font-size:24px;color:#363636;line-height: 36px;border-bottom: 1px solid #F0F0F0;margin:0 28px;overflow: hidden;}
.article-cont .image-area {margin-bottom: 24px;} 
.article-cont .image-area .swiper-slide {overflow: hidden;position: relative;}
.article-cont .image-area .swiper-slide img {position: absolute;left:50%;top: 50%;transform: translate(-50%,-50%);}
/* swiper */
.article-cont .image-area .swiper {padding-bottom: 20px;}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:-10px !important;}
.article-cont .image-area .swiper-pagination-bullet {width: 10px;height: 10px;background: #DDDDDD;opacity: 1;}
.article-cont .image-area .swiper-pagination-bullet-active {background-color: #85AEFF;}

.btn-wrap-more {text-align: center;padding: 24px 0 34px;}

.hash-tag {display: flex;flex-wrap: wrap; gap: 8px;margin-top: 60px;}
.hash-tag a {padding: 0 12px;height: 32px;background-color: #F4F8FF;border-radius: 10px;font-size:16px;color:#4783F5;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.hash-tag span {padding: 0 12px;height: 32px;background-color: #F4F8FF;border-radius: 10px;font-size:16px;color:#4783F5;}

.command-area {display: flex;flex-direction: column;padding: 36px 28px;}
.command-area .command-counter {background-color: #fff;padding:0 12px;height: 36px;border-radius: 10px;font-size:16px;color:#737980;border: 1px solid #B1CEFF;display: flex;align-items: center;justify-content: center;max-width: fit-content;gap: 6px;}
.command-area .command-counter::before {content:'';display: inline-block;width:16px;height:16px;background: url('../image/icon_command.svg') no-repeat;}

.command-list {margin-top: 28px;display: flex;flex-direction: column;gap: 26px;}
.command-inner-wrap {display: flex;justify-content: space-between;gap: 16px;}
.command-inner-wrap .avatar {width: 48px;height: 48px;overflow: hidden;border-radius: 50%;background-color: #fff;padding:1px;}
.command-inner-wrap .avatar img {width: 100%;height: 100%;}
.command-inner-wrap .commond-cont {flex: 1;}
.command-inner-wrap .commond-cont .command-info {display: flex;align-items: center;justify-content: space-between;}
.command-inner-wrap .commond-cont .command-info .name {font-size: 17px;color:#737980;}
.command-inner-wrap .commond-cont .command-info .btn-area {display: flex;gap: 24px;}
.command-inner-wrap .commond-cont .command-info .btn-area .btn-like {width:20px;height:20px;background: url('../image/btn-like-default.svg') no-repeat;}
.command-inner-wrap .commond-cont .command-info .btn-area .btn-like.is-active {background: url('../image/btn-like-active.svg') no-repeat;}
.command-inner-wrap .commond-cont .command-info .btn-area .btn-oppose {width:21px;height:20px;background: url('../image/btn-oppose-default.svg') no-repeat;}
.command-inner-wrap .commond-cont .command-info .btn-area .btn-oppose.is-active {background: url('../image/btn-oppose-active.svg') no-repeat;}
.command-inner-wrap .commond-cont .command-info .btn-area .btn-report {width:20px;height:20px;background: url('../image/icon_report.svg') no-repeat;}
.command-inner-wrap .commond-cont .command {margin-top:8px;font-size: 20px;color:#222222;line-height: 28px;}
.btn-write-commond {margin-top: 40px;}
.btn-write-commond img {width: 100%;}

.detail-section {position: absolute;left:0;top:57px;background-color: #fff;width: 100%;z-index: 11;height: calc(100% - 56px);display: none;}
.content-scroll {width: 100%;height: calc(100% - 77px);overflow: auto;}


/* 모달 */
.modal-wrap {width: 100%;height: 100%;position: absolute;left:0;top:0;background-color: rgba(0, 0, 0, 0.6);display: none;z-index: 12;box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);}
.modal-wrap.is-active {display: block;}
.modal-wrap .nobg-layer {width: 100%;height: 100%;position: relative;}
.modal-wrap .nobg-layer ul {width: 100%;height: 100%;display: flex;flex-direction: column; align-items: center;justify-content: center;gap: 44px;}
.modal-wrap .nobg-layer .btn-close {width:23px;height:23px;position: absolute;right:17px;top:17px;background: url('../image/btn-close-wt.svg') no-repeat center;}

.alert-wrap {width: 361px;height: 276px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);background-color: #fff;border-radius: 24px;box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);}
.alert-wrap-inner {width: 100%;height: 100%;display: flex;flex-direction: column;align-items:center;justify-content: center;padding-top: 50px;}
.alert-wrap-inner strong {display: block;}
.alert-wrap-inner .alert-msg {height: 116px;font-size:22px;color: #222;line-height: 145%;}
.alert-wrap-inner .button-area {display: flex;gap: 18px;}
.alert-wrap .btn-close-alert {width:39px;height:39px;position: absolute;right:10px;top:10px;background: url('../image/btn-close-x-bl.svg') no-repeat center;}

/* 팝업 */
.popupModal {width:100%;max-width: 620px;left: 50%;top:50%;transform: translate(-50%,-50%); position:fixed;z-index:11;display:none;}
.popupModal.is-active {display: block;}
.popupModal .popup-inner {border-radius: 20px;width: 100%;height: 100%;overflow: hidden;background:#EF7086;}
.popupModal .popup-inner .close-wrap {height: 72px;background-color: #FFF3C9;display: flex;align-items: center;justify-content: space-between;padding: 0 21px;}

.pc-only {display: block;}
.mo-only {display: none;}

/* checkbox */
.checkbox-wrap {display: flex;align-items: center;}
.btn-close-popup button {font-size: 24px;color:#333333;font-weight: 700;}
.checkbox input[type="checkbox"]{display: none;}
.checkbox input[type="checkbox"] + label{
    display: inline-block;    
    position: relative;
    padding-left: 45px;
    font-size:24px;
    color:#666666;
    font-family: 'Pretendard', 'Malgun Gothic', '맑은고딕', sans-serif;
}
.checkbox input[type="checkbox"] + label::after {
    content:'';
    font-size: 0px;
    width: 36px;
    height: 36px;
    background: #fff url('../image/icon-checkbox.svg') no-repeat center center;
    border: 1px solid #666666;   
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 0;
    top:-4px;
} 
.checkbox input[id="chk-pop"]:checked + label::after{
    content:''; 
    background: #E85473 url('../image/icon-checkbox-check.svg') no-repeat center center;
    border: 1px solid #E85473;
    color:#fff;
}

@media (max-width: 1024px) {
    .wrap {width:100%;max-width: 100%;height:auto;flex-direction: column;justify-content: center;}
    .left-sect {align-items: center; padding: 88px 0 0;justify-content: space-between;}
    .btn-arrow-down {display: block;text-align:center;position: relative; width:75px;height:46px;font-size: 19px;color:#80ABFF;font-weight: 500;margin:35px auto;}
    .btn-arrow-down::after {content: '';margin-top:5px;width: 25px;height:18px;display:inline-block; background-image: url('../image/icon-arrow-down.svg');background-position: center;background-size: 25px auto;animation: moveUpDown 1s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);}

    .left-sect .footer {margin-top:22px;font-size: 14px;line-height: 19px;flex-direction: column; justify-content: center;}
    .left-sect .footer .button-area {flex-direction: row;justify-content: center;gap: 15px;margin-top:12px;}
    .left-sect .footer .button-area a {line-height: 22px;font-size: 12px;height: 22px;padding: 0 12px;width: auto;}
    .left-sect .logo .slogon {font-size:27px;line-height: 27px;margin-bottom: 9px;}

    .right-frame {margin: 0 auto;height: 100vh;overflow: hidden;}
    .tab-area ul li button {border-radius: 15px;}
    .fillter-option .option-list {top: 35px;}
    .pc-img {display: none;}
    .mo-img {display: none;}
    .tablet-img {display: block;width: 100%;max-width: none;height: 100%;max-height: 670px;}
    .left-sect .main-img .qr-box {right:41px;bottom:67px;width: 86px;padding:8px 0;}
    .left-sect .main-img .maket-button {margin-top: 27px;}
    .modal-wrap {position: fixed;}
    .popupModal {top: 20%;transform: translate(-50%, 0);}

    @keyframes moveUpDown {
        0% {
            margin-top: 5px;
        }
        100% {
            margin-top: 7px;
        }
    }
}

@media (max-width: 767px) {    
    .left-sect {padding: 51px 0 0;}
    .left-sect .logo img {width: 165px;}
    .left-sect .main-img {padding: 0 26px;}
    
    .pc-img {display: none;}
    .mo-img {display: block;width: 100%;max-width: 100%;}
    .tablet-img {display: none}
    .pc-only {display: none;}
    .mo-only {display: block;}
    .btn-arrow-down {margin-top: 22px;margin-bottom: 17px;}
    .left-sect .main-img .qr-box {right:12px;bottom:30px;width: 43px; border-radius: 8px;padding: 6px 0;gap:0;}
    .left-sect .main-img .qr-box dl {gap: 4px;}
    .left-sect .main-img .qr-box dl dt img {width:31px;}
    .left-sect .main-img .qr-box dl dd img {width:30px;}
    .left-sect .main-img .maket-button {gap: 8px;margin-top: 10px;}
    .left-sect .main-img .maket-button img {width: 100px;}
    .left-sect .logo .slogon {font-size:16px;line-height: 16px;margin-bottom: 5px;}

    .left-sect .main-img .maket-button {gap: 8px;margin-top: 10px;}
    .left-sect .main-img .maket-button a {height: 28px;gap: 3px;border-radius: 16px;width: 100px;font-size: 9px;line-height: 9px;}
    .left-sect .main-img .maket-button a.google::before {width:19px;height:28px;}
    .left-sect .main-img .maket-button a.appstore::before {width:13px;height:17px;}
    .left-sect .footer .button-area {width: 100%;}

    .right-frame .title-Wrap {height: 32px;}
    .right-frame .title-Wrap h2 img {width: 56px;}
    .right-frame .title-Wrap .btn-share {width:19px;height:18px;background-size: 19px auto;}
    .right-frame .cate-title {font-size: 20px;padding: 14px 0;}
    .tab-area {margin: 0 16px;}
    .tab-area ul {gap: 3px;}
    .tab-area ul li button {font-size: 12px;height: 28px;padding:0 14px;border-radius: 10px;}
    .fillter-option {margin-top: 10px;}
    .fillter-option .selected-option {height:32px;min-width: 56px;font-size: 12px;margin-left: 16px;}
    .fillter-option .option-list {left:16px;padding: 8px;top: 31px;}
    .fillter-option .option-list li+li {margin-top: 8px;}
    .fillter-option .option-list li button {font-size: 12px;padding: 6px 0;width: 80px;}
    .tab-cont {height: calc(100% - 136px);}
    .story-list-wrap {padding: 0 16px;}
    .story-list {gap: 8px;}
    .item-wrap img {border-radius: 12px;}
    .item-wrap::before {border-radius: 12px;}
    .item-wrap {height: auto;}
    .item-wrap .item-infor {right:16px;bottom:16px;left: 16px;}    
    .item-wrap .item-infor .label-area {margin-top: 12px;gap:5px;}
    .item-wrap .item-infor .tit {font-size:16px;line-height: 19px;}
    .item-wrap .item-infor .label-area span {font-size:12px;height: 20px;line-height:18px;padding: 0 8px;}
    .item-wrap .util-area .like {font-size:12px;margin-left:4px;background-size: 13px auto; padding-left: 18px;}
    .item-wrap .util-area .command {font-size:12px;margin-left:4px;background-size: 13px auto;padding-left: 18px;}
    .item-wrap .util-area  {top: 16px;right: 16px;}
    .page-location-area {padding: 18px;gap:5px;}
    .page-location-area .btn-back {width: 20px;height: 20px;background-size: 13px auto;}
    .page-location-area p {font-size:16px;}
    .article-title-area {padding: 8px 16px 16px;}
    .article-title-area h2 {font-size: 20px;line-height: 24px;}
    .article-info {padding: 0 16px;}
    .article-info .like {font-size:12px;background-size: 11px auto;padding-left: 16px;}
    .article-info .command {font-size:12px;background-size: 11px auto;padding-left: 16px;}
    .article-info .data {font-size:12px;}
    .article-cont {padding: 20px 0px;font-size:16px;line-height: 24px;margin:0 16px;}
    .content_wrap {height: calc(100% - 90px);}
    .command-area {padding: 26px 16px;}
    .command-inner-wrap .commond-cont .command {font-size:16px;line-height: 24px;}
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .swiper-pagination-custom, 
    .swiper-pagination-fraction {bottom:0 !important;}
    .article-cont .image-area .swiper-pagination-bullet {width: 6px;height: 6px;margin: 0 4px !important;}
    .article-cont .image-area {margin-bottom: 10px;}
    .modal-wrap .nobg-layer ul {gap: 28px;}
    .modal-wrap .nobg-layer ul li img {width:56px;}
    .article-title-area .label-top {gap:3px;}
    .article-title-area .label-top span {min-width: 32px;height: 20px;font-size: 12px;line-height: 20px;}
    .hash-tag {margin-top: 30px;}    
    .hash-tag span {padding: 0 6px;height: 28px;font-size: 12px;line-height: 28px;}
    .left-sect .footer {margin-top:16px;font-size: 10px;line-height: 16px;flex-direction: column; justify-content: center;}
    .left-sect .footer .button-area {gap: 5px;}
    .left-sect .footer .button-area a {line-height: 21px;font-size: 10px;}
    
    .detail-section {top:33px;height: calc(100% - 33px);}
    .content-scroll {width: 100%;height: calc(100% - 56px);overflow: auto;}

    .btn-wrap-more {padding: 16px 0;}
    .btn-wrap-more img {width: 33px;height:33px;}

    /* 팝업 */
    .popupModal {max-width: 90%;}    
    .popupModal .popup-inner .close-wrap {height: 40px;background-color: #FFF3C9;display: flex;align-items: center;justify-content: space-between;padding: 0 21px;}
    .popupModal .popup-cont img {width: 100%;max-width: 100%;}
    .alert-wrap {width: calc(100% - 86px);height: auto;border-radius: 16px;}
    .alert-wrap-inner .alert-msg {font-size: 16px;height: auto;}
    .button-area {width: calc(100% - 36px);padding: 16px 0 18px;gap: 7px;}
    .alert-wrap .btn-close-alert {width:25px;height:25px;background-size: 25px auto;}
    .modal-wrap .nobg-layer .btn-close {width:17px;height: 17px;background-size: 17px auto;right:12px;top:12px;}
    .btn-close-popup button {font-size: 16px;}    
    .checkbox input[type="checkbox"] + label{        
        padding-left: 20px;
        font-size:16px;        
    }
    .checkbox input[type="checkbox"] + label::after {
        content:'';        
        width: 16px;
        height: 16px;     
        background-size: 9px auto;
        top:2px;
    } 
    .checkbox input[id="chk-pop"]:checked + label::after{
        content:''; 
        background: #E85473 url('../image/icon-checkbox-check.svg') no-repeat center center;
        background-size: 15px auto;
    }    
}

@media (max-width: 320px) {       
    .left-sect .footer .button-area a {padding: 0 7px;}
    .checkbox input[type="checkbox"] + label {font-size: 13px;}
    .btn-close-popup button {font-size: 13px;}
    .checkbox input[type="checkbox"] + label::after {top:0;}
    .alert-wrap {width: calc(100% - 36px);}
    .alert-wrap-inner .alert-msg {font-size: 16px;height: auto;}
    .button-area {width: calc(100% - 36px);padding: 16px 0 18px;gap: 7px;}
}

@keyframes emphasis {
    0% {
        box-shadow: none;
    }
    50%{
        box-shadow: 0 0 18px rgba(0, 56, 159, 0.9);
    }
}
