@import url(./base.css);
html, body {background-color: #CFEDFF;width: 100%;height:100%;} 
.wrap {width:100%;max-width: 1066px;height:100%;margin: 0 auto;display: flex;justify-content: space-between;}
.left-sect {display: flex;flex-direction: column; padding-top: 83px;}
.left-sect .logo {text-align: center;}
.left-sect .main-img {margin-top: 22px;}
.left-sect .footer {margin-top:30px;position: relative;font-size: 12px;color:#555;line-height: 18px;}
.left-sect .footer .button-area {position:absolute;top:0;right: 0; display: flex;flex-direction: column;justify-content: space-between; height: 100%;}
.left-sect .footer .button-area a {display: block;text-align: center;width: 106px;height: 21px;background-color: #fff;border-radius: 7px;font-size: 12px;color:#222;}

.right-frame {width: 100%;max-width: 500px;height: 100%;background-color: #fff;box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;}
.right-frame .title-Wrap {width: 100%;height: 56px;background-color: #4783f5;position: relative;}
.right-frame .title-Wrap h2 {text-align: center;display: flex;align-items: center;justify-content: center;height: 100%;}
.right-frame .title-Wrap .btn-share {width:30px;height:30px;background: url(../image/btn_share.svg) no-repeat center center;position: absolute;right: 14px;top: 50%;transform: translateY(-50%);}
.right-frame .cate-title {padding: 21px 0;text-align: center;font-weight: 700;font-size:32px;color:#222;}
.tab-area {width: auto;overflow-x: scroll;padding: 0 28px;}
.tab-area ul {display: flex;gap: 10px;width: 153%;}
.tab-area ul li.is-active button {background-color: #4783F5;color:#fff;border:1px solid #4783F5;}
.tab-area ul li button {display: block;padding: 0 20px;height: 44px;text-align: center;border:1px solid #EBEFF4;border-radius: 7px;font-size: 20px;font-weight: 500;;}
.tab-area {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.tab-area::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.tab-cont {width: 100%;padding-top: 6px;overflow: hidden;height: calc(100% - 180px);}
.fillter-option {position: relative;}
.fillter-option .selected-option {position: relative;height:40px;min-width: 83px;font-size: 20px;color:#222222;text-align: left;margin-left: 23px;}
.fillter-option .selected-option::after {content: '';display: block;position: absolute;right:0px;top: 50%;transform: translateY(-50%); width:9px;height:13px;background: url('../image/arrow_selectbox.svg') no-repeat;background-size: 100% auto;background-position: center center;}
.fillter-option .option-list {display: none;}
.story-list-wrap {padding: 0 28px;overflow-y: auto;  height: calc(100% - 50px);
    overflow: auto;}
.story-list {display: flex;flex-direction: column;gap: 12px;}
.item-wrap {position: relative;width: 100%;color:#fff;border-radius: 20px;height: 255px;overflow: hidden;}
.item-wrap.no-img::before {display: none;}
.item-wrap.no-img {background: #b6babd url('../image/no-img.svg') no-repeat center 40px;}
.item-wrap::before {content: '';display: block;position: absolute;left:0;top:0;right:0;bottom:0;background-color: rgba(0, 0, 0, 0.3);}
.item-wrap .thum-img {width: 100%;height: 100%;}
.item-wrap img {width: 100%;height: 100%;}
.item-wrap .util-area {position: absolute;right:24px;top:24px;z-index: 10;}
.item-wrap .util-area .like {display: inline-block;font-size:16px;font-weight: 300;background: url('../image/icon_like.svg') no-repeat left center;padding-left: 22px;}
.item-wrap .util-area .command {display: inline-block;font-size:16px;font-weight: 300;background: url('../image/icon_command.svg') no-repeat left center;padding-left: 22px;margin-left:14px;}
.item-wrap .item-infor {position: absolute;right:24px;bottom:24px;z-index: 10;left: 24px;}
.item-wrap .item-infor a {display: block;font-size: 24px;font-weight: 500;line-height: 26px;text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.item-wrap .item-infor a:hover {text-decoration: underline;}
.item-wrap .item-infor .label-area {margin-top: 16px;display: flex;gap:8px;}
.item-wrap .item-infor .label-area span {border:1px solid #fff;padding: 2px 8px;font-weight: 300;border-radius: 7px; color:#fff;font-size:16px;}

.content_wrap {height: calc(100% - 60px);overflow-y: auto;}
.page-location-area {padding: 24px 28px;display: flex;align-items: center;gap:5px;}
.page-location-area .btn-back {width: 26px;height: 20px;background: url('../image/go-back.svg') no-repeat center;}
.page-location-area p {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;font-size:24px;color:#222;}
.article-title-area {display: flex;flex-direction: column;padding: 10px 28px 16px;gap:12px;}
.article-title-area .label-top {display: flex;gap: 6px;}
.article-title-area .label-top span {width: 44px;height: 28px; background-color: #7DAAFF;font-size: 16px;font-weight: 500;border-radius: 8px;text-align: center;color:#fff;line-height: 28px;}
.article-title-area h2 {font-size: 32px;font-weight: 700;line-height: 37px;}
.article-info {padding: 0 28px;display: flex;justify-content: space-between;}
.article-info .like {display: inline-block;font-size:16px;font-weight: 300;background: url('../image/icon_like.svg') no-repeat left center;padding-left: 22px;}
.article-info .command {display: inline-block;width: 16px;font-size:16px;font-weight: 300;background: url('../image/icon_command.svg') no-repeat left center;padding-left: 22px;margin-left:14px;}
.article-info .data {font-size:16px;color:#737980;}
.article-cont {padding: 32px 0px;font-size:24px;color:#363636;line-height: 36px;border-bottom: 1px solid #F0F0F0;margin:0 28px;}
.article-cont .image-area {margin-bottom: 24px;} 
.hash-tag {display: flex;gap: 8px;margin-top: 60px;}
.hash-tag a {padding: 0 12px;height: 32px;background-color: #F4F8FF;border-radius: 10px;font-size:16px;color:#4783F5;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.command-area {display: flex;flex-direction: column;padding: 36px 28px;}
.command-area .command-counter {background-color: #fff;padding:0 12px;height: 36px;border-radius: 10px;font-size:16px;color:#737980;border: 1px solid #B1CEFF;}