@import url(./base.css);

html, body {background-color: #CFEDFF;width: 100%;}
@media (min-width: 1024px) {
    html, body {height:100%;overflow: hidden;} 
    .btn-arrow-down {display: none;}
}
.wrap {width:100%;max-width: 1066px;height:100%;margin: 0 auto;display: flex;justify-content: space-between;}
.left-sect {display: flex;flex-direction: column; padding-top: 83px;}
.left-sect .logo {text-align: center;}
.left-sect .main-img {margin-top: 22px;}
.left-sect .footer {margin-top:30px;position: relative;font-size: 12px;color:#555;line-height: 18px;}
.left-sect .footer .button-area {position:absolute;top:0;right: 0; display: flex;flex-direction: column;justify-content: space-between; height: 100%;}
.left-sect .footer .button-area a {display: block;text-align: center;width: 106px;height: 21px;background-color: #fff;border-radius: 7px;font-size: 12px;color:#222;}
.pc-img {display: block;}
.mo-img {display: none;}
.tablet-img {display: none}

.right-frame {width: 100%;max-width: 500px;height: 100%;background-color: #fff;box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;position: relative;}
.right-frame .title-Wrap {width: 100%;height: 56px;background-color: #4783f5;position: relative;}
.right-frame .title-Wrap h2 {text-align: center;display: flex;align-items: center;justify-content: center;height: 100%;}
.right-frame .title-Wrap .btn-share {width:30px;height:30px;background: url(../image/btn_share.svg) no-repeat center center;position: absolute;right: 14px;top: 50%;transform: translateY(-50%);}
.right-frame .cate-title {padding: 21px 0;text-align: center;font-weight: 700;font-size:32px;color:#222;}
.tab-area {width: auto;overflow-x: scroll;padding: 0 28px;}
.tab-area ul {display: flex;gap: 3px;white-space: nowrap;}
.tab-area ul li.is-active button {background-color: #4783F5;color:#fff;border:1px solid #4783F5;}
.tab-area ul li button {display: block;white-space: nowrap;padding: 0 11px;height: 44px;text-align: center;border:1px solid #EBEFF4;border-radius: 7px;font-size: 18px;font-weight: 500;;}
.tab-area {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.tab-area::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.tab-cont {width: 100%;padding-top: 6px;overflow: hidden;height: calc(100% - 180px);}
.fillter-option {position: relative;width: 120px;margin-top: 24px;}
.fillter-option .selected-option {position: relative;height:40px;min-width: 83px;font-size: 20px;color:#222222;text-align: left;margin-left: 23px;}
.fillter-option .selected-option::after {content: '';display: block;position: absolute;right:0px;top: 50%;transform: translateY(-50%); width:9px;height:13px;background: url('../image/arrow_selectbox.svg') no-repeat;background-size: 100% auto;background-position: center center;}
.fillter-option .selected-option.is-active::after {transform: rotate(-180deg); margin-top: -5px;}
.fillter-option .option-list {display: none;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);position: absolute;left:28px;top:auto;background-color: #fff;padding: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;z-index: 10;}
.fillter-option .option-list li button {font-size: 20px;color:#222;display: block;padding: 8px 0;width: 100px;}
.fillter-option .option-list li:hover,
.fillter-option .option-list li.is-active button {background-color: #E8EFFF;border-radius: 7px;}
.fillter-option .option-list.is-active {display: block;}
.story-list-wrap {padding: 0 28px;overflow-y: auto;  height: calc(100% - 50px);overflow: auto;}
.story-list {display: flex;flex-direction: column;gap: 12px;}
.story-list li {padding: 0;margin: 0;}
.item-wrap {position: relative;display:block;width: 100%;color:#fff;}
.item-wrap .tit:hover {text-decoration: underline;}
.item-wrap::before {content: '';display: block;position: absolute;border-radius: 20px;left:0;top:0;right:0;bottom:3px;background-color: rgba(0, 0, 0, 0.3);}
.item-wrap img {width: 100%;border-radius: 20px;}
.item-wrap .util-area {position: absolute;right:24px;top:24px;z-index: 10;}
.item-wrap .util-area .like {display: inline-block;font-size:16px;font-weight: 300;background: url('../image/icon_like.svg') no-repeat left center;padding-left: 25px;}
.item-wrap .util-area .command {display: inline-block;font-size:16px;font-weight: 300;background: url('../image/icon_command_wt.svg') no-repeat left center;padding-left: 24px;margin-left:14px;}
.item-wrap .item-infor {position: absolute;right:24px;bottom:24px;z-index: 10;left: 24px;}
.item-wrap .item-infor .tit {display: block;font-size: 24px;font-weight: 500;line-height: 26px;text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.item-wrap .item-infor .label-area {margin-top: 16px;display: flex;gap:8px;}
.item-wrap .item-infor .label-area span {border:1px solid #fff;padding: 2px 8px;font-weight: 300;border-radius: 7px; color:#fff;font-size:16px;}

.no-data-img {height: 666px;display: flex;align-items: center;justify-content: center;background: url(../image/no-img.svg) no-repeat center center;}
.content_wrap {height: calc(100% - 137px);overflow-y: auto;}
.page-location-area {padding: 24px 28px;display: flex;align-items: center;gap:5px;}
.page-location-area .btn-back {width: 44px;height: 20px;background: url('../image/go-back.svg') no-repeat center;}
.page-location-area p {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;font-size:24px;color:#222;}
.article-title-area {display: flex;flex-direction: column;padding: 10px 28px 16px;gap:12px;}
.article-title-area .label-top {display: flex;gap: 6px;}
.article-title-area .label-top span {width: 44px;height: 28px; background-color: #7DAAFF;font-size: 16px;font-weight: 500;border-radius: 8px;text-align: center;color:#fff;line-height: 28px;}
.article-title-area h2 {font-size: 32px;font-weight: 700;line-height: 37px;}
.article-info {padding: 0 28px;display: flex;justify-content: space-between;}
.article-info .like {display: inline-block;font-size:16px;font-weight: 300;background: url('../image/icon_like.svg') no-repeat left center;padding-left: 22px;}
.article-info .command {display: inline-block;width: 16px;font-size:16px;font-weight: 300;background: url('../image/icon_command.svg') no-repeat left center;padding-left: 22px;margin-left:14px;}
.article-info .data {font-size:16px;color:#737980;}
.article-cont {padding: 32px 0px;font-size:24px;color:#363636;line-height: 36px;border-bottom: 1px solid #F0F0F0;margin:0 28px;overflow: hidden;}
.article-cont .image-area {margin-bottom: 24px;} 
/* swiper */
.article-cont .image-area .swiper {padding-bottom: 20px;}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:-10px !important;}
.article-cont .image-area .swiper-pagination-bullet {width: 10px;height: 10px;background: #DDDDDD;opacity: 1;}
.article-cont .image-area .swiper-pagination-bullet-active {background-color: #85AEFF;}

.btn-wrap-more {text-align: center;padding: 24px 0 34px;}

.hash-tag {display: flex;gap: 8px;margin-top: 60px;}
.hash-tag a {padding: 0 12px;height: 32px;background-color: #F4F8FF;border-radius: 10px;font-size:16px;color:#4783F5;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.command-area {display: flex;flex-direction: column;padding: 36px 28px;}
.command-area .command-counter {background-color: #fff;padding:0 12px;height: 36px;border-radius: 10px;font-size:16px;color:#737980;border: 1px solid #B1CEFF;display: flex;align-items: center;justify-content: center;max-width: fit-content;gap: 6px;}
.command-area .command-counter::before {content:'';display: inline-block;width:16px;height:16px;background: url('../image/icon_command.svg') no-repeat;}

.command-list {margin-top: 28px;display: flex;flex-direction: column;gap: 26px;}
.command-inner-wrap {display: flex;justify-content: space-between;gap: 16px;}
.command-inner-wrap .avatar {width: 48px;height: 48px;overflow: hidden;border-radius: 50%;background-color: #fff;padding:1px;}
.command-inner-wrap .avatar img {width: 100%;height: 100%;}
.command-inner-wrap .commond-cont {flex: 1;}
.command-inner-wrap .commond-cont .command-info {display: flex;align-items: center;justify-content: space-between;}
.command-inner-wrap .commond-cont .command-info .name {font-size: 17px;color:#737980;}
.command-inner-wrap .commond-cont .command-info .btn-area {display: flex;gap: 24px;}
.command-inner-wrap .commond-cont .command-info .btn-area .btn-like {width:20px;height:20px;background: url('../image/btn-like-default.svg') no-repeat;}
.command-inner-wrap .commond-cont .command-info .btn-area .btn-like.is-active {background: url('../image/btn-like-active.svg') no-repeat;}
.command-inner-wrap .commond-cont .command-info .btn-area .btn-oppose {width:21px;height:20px;background: url('../image/btn-oppose-default.svg') no-repeat;}
.command-inner-wrap .commond-cont .command-info .btn-area .btn-oppose.is-active {background: url('../image/btn-oppose-active.svg') no-repeat;}
.command-inner-wrap .commond-cont .command-info .btn-area .btn-report {width:20px;height:20px;background: url('../image/icon_report.svg') no-repeat;}
.command-inner-wrap .commond-cont .command {margin-top:8px;font-size: 20px;color:#222222;line-height: 28px;}
.btn-write-commond {margin-top: 40px;}
.btn-write-commond img {width: 100%;}

/* 모달 */
.modal-wrap {width: 100%;height: 100%;position: absolute;left:0;top:0;background-color: rgba(0, 0, 0, 0.5);display: none;z-index: 10;}
.modal-wrap.is-active {display: block;}
.modal-wrap .nobg-layer {width: 100%;height: 100%;position: relative;}
.modal-wrap .nobg-layer ul {width: 100%;height: 100%;display: flex;flex-direction: column; align-items: center;justify-content: center;gap: 44px;}
.modal-wrap .nobg-layer .btn-close {width:23px;height:23px;position: absolute;right:17px;top:17px;background: url('../image/btn-close-wt.svg') no-repeat;}

.alert-wrap {width: 361px;height: 276px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);background-color: #fff;border-radius: 24px;box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);}
.alert-wrap-inner {width: 100%;height: 100%;display: flex;flex-direction: column;align-items:center;justify-content: center;padding-top: 50px;}
.alert-wrap-inner strong {display: block;}
.alert-wrap-inner .alert-msg {height: 116px;font-size:22px;color: #222;line-height: 145%;}
.alert-wrap-inner .button-area {display: flex;gap: 18px;}
.alert-wrap .btn-close-alert {width:39px;height:39px;position: absolute;right:10px;top:10px;background: url('../image/btn-close-x-bl.svg') no-repeat center;}

@media (max-width: 1023px) {
    .wrap {width:100%;max-width: 100%;height:auto;flex-direction: column;justify-content: center;}
    .left-sect {height: 100vh;align-items: center; padding: 10% 0;justify-content: space-between;}
    .left-sect .footer {text-align: center;}
    .left-sect .footer .button-area {position:relative;top:auto;right: auto; flex-direction: row;justify-content: center; height: auto;gap: 14px;margin-top: 12px;}
    .btn-arrow-down {cursor: default; display: block;text-align:center;position: relative; width:75px;height:46px;font-size: 19px;color:#80ABFF;font-weight: 500;margin:5% auto 0;}
    .btn-arrow-down::after {content: '';margin-top:5px;width: 25px;height:18px;display:inline-block; background-image: url('../image/icon-arrow-down.svg');background-position: center;background-size: 25px auto;animation: moveUpDown 1s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);}
    .right-frame {margin: 0 auto;height: 100vh;}
    .pc-img {display: none;}
    .mo-img {display: none;}
    .tablet-img {display: block;}
    .modal-wrap {position: fixed;}
    @keyframes moveUpDown {
        0% {
            margin-top: 5px;
        }
        100% {
            margin-top: 7px;
        }
    }
}

@media (max-width: 768px) {    
    .left-sect {padding: 8% 0;}
    .left-sect .logo img {width: 165px;}
    .left-sect .main-img {display: flex;flex: 1; align-items: center;justify-content: center;padding: 0 42px;}
    .left-sect .main-img img {width: 100%;max-width: 80%;}
    .pc-img {display: none;}
    .mo-img {display: block;}
    .tablet-img {display: none}
    .left-sect .footer {margin-top:16px;font-size: 10px;line-height: 16px;}
    .left-sect .footer a {line-height: 20px;font-size: 10px;}
    .btn-arrow-down {margin-top: 4%;}

    .right-frame .title-Wrap {height: 32px;}
    .right-frame .title-Wrap h2 img {width: 56px;}
    .right-frame .title-Wrap .btn-share {width:19px;height:18px;background-size: 19px auto;}
    .right-frame .cate-title {font-size: 20px;padding: 14px 0;}
    .tab-area {padding: 0 16px;}
    .tab-area ul li button {font-size: 12px;height: 28px;}
    .fillter-option {margin-top: 16px;}
    .fillter-option .selected-option {height:32px;min-width: 56px;font-size: 12px;margin-left: 16px;}
    .fillter-option .option-list {left:16px;padding: 8px;}
    .fillter-option .option-list li button {font-size: 12px;padding: 6px 0;width: 80px;}
    .tab-cont {height: calc(100% - 116px);}
    .story-list-wrap {padding: 0 16px;height: 100%;}
    .item-wrap {height: auto;}
    .item-wrap .item-infor {right:16px;bottom:12px;left: 16px;}
    .item-wrap .item-infor a {font-size: 16px;line-height: 19px;}
    
    .page-location-area {padding: 18px;gap:5px;}
    .page-location-area .btn-back {width: 20px;height: 20px;background: url('../image/go-back.svg') no-repeat center;background-size: 20px auto;}
    .page-location-area p {font-size:16px;}
    .article-title-area {padding: 10px 16px 16px;}
    .article-title-area h2 {font-size: 20px;line-height: 24px;}
    .article-info {padding: 0 16px;}
    .article-cont {padding: 32px 0px;font-size:16px;line-height: 24px;margin:0 16px;}
    .command-area {padding: 26px 16px;}
    .command-inner-wrap .commond-cont .command {font-size:16px;line-height: 24px;}
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:0 !important;}
}

@media (max-width: 540px) {  
    .left-sect {padding: 10% 0;}
    .left-sect .main-img img {max-width: 90%;}
    .btn-arrow-down {margin-top: 6%;}
}